*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-family: "Dosis", serif;
    font-size: 16px;
}
/*
=================
OUTER GRID LAYOUT
=================
*/
.outer-grid{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "header-area header-area"
        "nav-area innergrid-area";
    height: 100vh;
}
.outer-grid-hide{
    grid-template-areas: 
        "header-area header-area"
        "innergrid-area innergrid-area";
}
header{
    grid-area: header-area;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    grid-area: nav-area;
}
.hide-nav{
    display: none;
}
/*
=================
INNER GRID LAYOUT
=================
*/
.inner-grid{
    grid-area: innergrid-area;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 70px;
    grid-template-areas: 
        "main-area"
        "sidebar-area"
        "footer-area";
    overflow-y: scroll;
}
main{
    display: flex;
    grid-area: main-area;
    background-color: rgb(255, 255, 255);
}
aside{
    grid-area: sidebar-area;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
footer{
    grid-area: footer-area;
    background-color: rgba(155, 155, 155, 0.61);
}

/*
================
OUTER GRID STYLE
================
*/
header{
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
}
nav{
    padding-top: 20px;
    background-color: rgba(202, 202, 202, 0.8);
}
.nav-link{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-grid{
    background-color: rgba(0, 31, 255, 0.2);
}
.left-header, .right-header{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-link a{
    text-decoration: none;
    color: white;
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.fa-bars:hover{
    cursor: pointer;
    opacity: 0.7;
}
a:hover{
    cursor: pointer;
    opacity: 0.7;
}
/*
================
INNER GRID STYLE
================
*/
h1,h2,h3{
    margin-top: 10px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 15px;
}
main,aside{
    padding: 20px 5%;
}
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
/*
=============
COLLAGE STYLE
=============
*/
 .collage{
    display: grid;
    height: 550px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40px 1fr 40px 1fr;
    align-items: center;
}
.collage *{
    grid-row-start: 1;
    grid-row-end: 2;
}
.collage-1{
    grid-column-start: 1 ;
    grid-column-end: 3;
    z-index: 0;
    transform: rotate(-3deg);
}
.collage-2{
    grid-column-start: 2 ;
    grid-column-end: 5;
    z-index: 1;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
}
.collage-3{
    grid-column-start: 4 ;
    grid-column-end: 6;
    z-index: 0;
    transform: rotate(3deg);
} 
/*
=============
FOOTER STYLE
=============
*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
/*
===========
Breakpoints
===========
*/
@media screen and (min-width: 567px){
  .fa-bars{
    display: none !important;
  }
  nav{
    display: block !important;
  }
    .outer-grid{
        grid-template-areas: 
        "header-area header-area"
        "nav-area innergrid-area";
    }
}
@media screen and (min-width: 992px){
    .inner-grid{
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 70px;
        grid-template-areas: 
            "main-area sidebar-area"
            "footer-area footer-area";
    }
    aside{
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
}
@media screen and (min-width: 1440px) {
    .outer-grid{
        grid-template-columns: 1fr 1000px 1fr;
        grid-template-areas: 
        "header-area header-area header-area"
        "nav-area innergrid-area innergrid-area";
    }
    header{
        display: grid;
        grid-template-columns: 1fr 1000px 1fr;
        grid-template-areas: 
        "lh-area . rh-area";
    }
    .left-header{
        grid-area: lh-area;
        justify-self: end;
    }
    .right-header{
        grid-area: rh-area;
        justify-self: start;
    }
    nav{
        display: flex !important;
        flex-direction: column;
        align-items: flex-end;
    }
}